# Git ignore configuration

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venvift/
env/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.vscode/

# Library
ift/

# .idea/
# *.swp
# *.swo

# # OS
# .DS_Store
# Thumbs.db

# # Results and outputs
*.log
*.pth
results/
outputs/
checkpoints/

# Ignore all images in the datasets folders, except images for example
baseline_networks/datasets/**/images/*
flim_metodology/**/build/images/*
flim_metodology/**/build/masks/*
flim_metodology/**/build/*

!baseline_networks/datasets/**/images/000001_00000001.png
!baseline_networks/datasets/**/images/000002_00000001.png
!baseline_networks/datasets/**/images/000003_00000001.png
!baseline_networks/datasets/**/images/000004_00000001.png
!baseline_networks/datasets/**/images/000005_00000001.png
!baseline_networks/datasets/**/images/000006_00000001.png
!baseline_networks/datasets/**/images/000007_00000001.png
!baseline_networks/datasets/**/images/000008_00000001.png
!baseline_networks/datasets/**/images/000009_00000001.png

!flim_metodology/**/images/000001_00000001.png
!flim_metodology/**/images/000002_00000001.png
!flim_metodology/**/images/000003_00000001.png
!flim_metodology/**/images/000004_00000001.png
!flim_metodology/**/images/000005_00000001.png
!flim_metodology/**/images/000006_00000001.png
!flim_metodology/**/images/000007_00000001.png
!flim_metodology/**/images/000008_00000001.png
!flim_metodology/**/images/000009_00000001.png

!flim_metodology/**/masks/000001_00000001.png
!flim_metodology/**/masks/000002_00000001.png
!flim_metodology/**/masks/000003_00000001.png
!flim_metodology/**/masks/000004_00000001.png
!flim_metodology/**/masks/000005_00000001.png
!flim_metodology/**/masks/000006_00000001.png
!flim_metodology/**/masks/000007_00000001.png
!flim_metodology/**/masks/000008_00000001.png
!flim_metodology/**/masks/000009_00000001.png

flim_metodology/**/build/bag
flim_metodology/**/build/flim
flim_metodology/**/build/superpixels
flim_metodology/**/build/layer*
flim_metodology/**/build/svm*
flim_metodology/**/build/seeds*
flim_metodology/**/build/results*
flim_metodology/**/build/confusion.csv

# Ignore output models
baseline_networks/notebooks/efficientnet
baseline_networks/notebooks/efficientnetv2
baseline_networks/notebooks/mobilenetv2
baseline_networks/notebooks/mobilenetv3_small
baseline_networks/notebooks/resnet18
baseline_networks/notebooks/shufflenetv2
baseline_networks/notebooks/squeezenet
baseline_networks/notebooks/vgg16

# Other Folder
extras/
others/

# Ignore all images in the datasets folders, except images for example -> corrected
datasets/**/images/*
datasets/**/masks/*

!datasets/**/images/000001_00000001.png
!datasets/**/images/000002_00000001.png
!datasets/**/images/000003_00000001.png
!datasets/**/images/000004_00000001.png
!datasets/**/images/000005_00000001.png
!datasets/**/images/000006_00000001.png
!datasets/**/images/000007_00000001.png
!datasets/**/images/000008_00000001.png
!datasets/**/images/000009_00000001.png

!datasets/**/masks/000001_00000001.png
!datasets/**/masks/000002_00000001.png
!datasets/**/masks/000003_00000001.png
!datasets/**/masks/000004_00000001.png
!datasets/**/masks/000005_00000001.png
!datasets/**/masks/000006_00000001.png
!datasets/**/masks/000007_00000001.png
!datasets/**/masks/000008_00000001.png
!datasets/**/masks/000009_00000001.png

flim_metodology/src/filter_selection/
flim_metodology/reduction_ovos/

.vscode/